<a href="https://colab.research.google.com/github/gdlp-rn/Sales_forecasting/blob/main/sales_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
filename = '/content/drive/MyDrive/sales_predictions.csv'
sales_df = pd.read_csv(filename)

In [59]:
sales_df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [60]:
sales_df.shape

(8523, 12)

In [61]:
sales_df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [62]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [63]:
sales_df.duplicated().any()

False

In [64]:
sales_df.isnull().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

In [65]:
sales_df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

We can remove Item weight because it varies depending on the item and hence shouldn't effect the analysis after it's gone.

In [66]:
sales_df.drop('Item_Weight', axis=1, inplace=True)

In [67]:
sales_df.isnull().sum()

Item_Identifier                 0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

outlet size is a categorical and non-numerical data. We fill in this based on what is the most common size among the items

In [70]:
sales_df.groupby(['Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']).sum()

                                                    Item_Visibility  ...  Item_Outlet_Sales
Outlet_Size Outlet_Location_Type Outlet_Type                         ...
High        Tier 3               Supermarket Type1        55.879859  ...       2.142664e+06
Medium      Tier 1               Supermarket Type1        56.549156  ...       2.183970e+06
            Tier 3               Supermarket Type2        56.621454  ...       1.851823e+06
                                 Supermarket Type3        54.804764  ...       3.453926e+06
Small       Tier 1               Grocery Store            57.257041  ...       1.796941e+05
                                 Supermarket Type1        56.231875  ...       2.118395e+06
            Tier 2               Supermarket Type1        56.974873  ...       2.268123e+06

[7 rows x 4 columns]

In [74]:
sales_df.fillna('Medium', inplace = True)
sales_df.isnull().sum()

Item_Identifier              0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [78]:
sales_df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [79]:
sales_df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [84]:
sales_df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [86]:
sales_df['Item_Fat_Content'] = sales_df['Item_Fat_Content'].replace(['LF','low fat'],'Low Fat')
sales_df['Item_Fat_Content'] = sales_df['Item_Fat_Content'].replace(['reg'],'Regular')
sales_df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [89]:
sales_df.describe()

       Item_Visibility  ...  Item_Outlet_Sales
count      8523.000000  ...        8523.000000
mean          0.066132  ...        2181.288914
std           0.051598  ...        1706.499616
min           0.000000  ...          33.290000
25%           0.026989  ...         834.247400
50%           0.053931  ...        1794.331000
75%           0.094585  ...        3101.296400
max           0.328391  ...       13086.964800

[8 rows x 4 columns]